
<h1><%= vehicle.vehicle_name %></h1>

<img src=" <%= vehicle.vehicle_image %> || 'https://placehold.co/300x200/png" alt= "photo of <%= vehicle.vehicle_name %> ">


<p> price: <%= vehicle.vehicle_price %></p>
<p> vehicle owner: <%= vehicle.vehicle_owner %></p>

<p><%= vehicle.vehicle_description %></p>