
<div id ="listing-container">

<h1 id ="title"><%= vehicle.vehicle_name %></h1>

<img id="image" src=" <%= vehicle.image_path %> " alt= "photo of <%= vehicle.vehicle_name %> ">


<p id="price"> price: $<%= vehicle.vehicle_price %></p>
<p id="owner"> vehicle owner: <%= user_name %></p>

<p id="description"><%= vehicle.vehicle_description %></p>

</div>